{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Conference</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    .intro {
      text-align: center;
      color: black; /* Set the text color to black */
    }

    .intro h1, .intro h4 {
      margin: 0; /* Optional: remove default margin for cleaner appearance */
    }
  </style>
</head>
<body>
  <div class="intro">
    <h1>Welcome to FrameChat</h1>
    <h4>by PAVAN SHELKE</h4>
    <!-- create a signup and signin button-->
    <a href="{% url 'login' %}" class="button">Sign In</a>
    <a href="{% url 'register' %}" class="button">Sign Up</a>
  </div>
</body>
</html>
